.elements__icon {
  background-image: url(../../../images/heart.svg);
  width: 20px;
  height: 19px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.2s;
  border: none;
  background-color: #fff;
}

.elements__icon:hover {
  cursor: pointer;
  opacity: 0.5;
}
