.profile__user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media (max-width: 900px) {
  .profile__user {
    margin-bottom: 36px;
  }
}

@media (max-width: 600px) {
  .profile__user {
    flex-direction: column;
  }
}
