.popup__cross {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/cross.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: 2;
  background-color: transparent;
  border: 0;
}

.popup__cross:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 600px) {
  .popup__cross {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
