.popup__container {
  background-color: #fff;
  width: 430px;
  box-sizing: border-box;
  padding: 34px 36px 37px 26px;
  position: absolute;
  top: calc(50% - 115px);
  left: calc(50% - 215px);
  border-radius: 10px;
}

@media (max-width: 600px) {
  .popup__container {
    width: 282px;
    padding-bottom: 25px;
    padding-top: 25px;
    top: calc(50% - 161px);
    left: calc(50% - 141px);
  }
}
