.auth-form {
  max-width: 358px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 40px 30px 40px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .auth-form {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}