.header {
  padding: 45px 0px 41px 0px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .header {
    padding-top: 28px;
    padding-bottom: 31px;
  }
}

@media (max-width: 900px) {
  .header {
    max-width: calc(100% - 24px);
  }
}
